<nav class="navbar navbar-expand-lg navbar-light">

  <div><div class="navbar-brand-left" href="#">Hora </div>
  <div class="navbar-brand-right" href="#">Fácil </div></div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-secondary" href="/data-hora-atual">Data hora atual <span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-secondary" href="/cronometro">Cronômetro</a>
      <a class="nav-item nav-link text-secondary" href="/alarme">Alarme</a>
    </div>
  </div>
</nav>
