#page-home {
    background: url("../assets/UFOalpha.png") no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}

#page-home .content {}