<!-- 
    adding a bootstrap containter  
    inside app.component.css will be written the css code for this template
-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- contains the template of the component  -->

            <h3>I'm in the AppComponent!</h3>
            <hr>
            <!-- 
                Using selectors:
                
                The first way: By changing the selector of the file servers.components.ts, this line bellow won't work anymore
                because now this class is referenced by an array of attributes:

                <app-servers></app-servers>  (oldest code) 

                The second way: that will be replaced by the div with app-servers reference with a custom attribute, 
                angular will select the element by attribute and not by element by itself:

                <div app-servers></div> (old code)

                The third way: after changing the servers.component.ts once more, adding a class selector (selector: '.app-servers',)
                can now add a div with a app-servers class on it

                This way, makes a selector unique, less generic, as bellow:

            -->
            <div class="app-servers"></div>
            

            

        </div>
    </div>
</div>