<div class="teste">
  <div class="sm-4">
    <div class="grid__container">
      <div class="grid__row">
        <div class="grid__col sm-4 md-4 bg-4">{{horaStr}} </div>
        <div class="grid__col sm-4 md-4 bg-4">{{minutoStr}}</div>
        <div class="grid__col sm-4 md-4 bg-4">{{segundoStr}}</div>
        <div class="grid__col sm-4 md-4 bg-4">{{milissegundoStr}}</div>
      </div>
    </div>
  </div>
  <div class="row text lg-4 md-6 sm-8">
    <div class="col-12">
      O Cronômetro está rodando!
      <hr>
    </div>
  
</div>
</div>

