<!-- <p> The Server component </p> (old code) -->


<!-- 

    DataBinding
    Communication between the typescript (business logic) code and html template.
    can be used a String Interpolation ({{data}}) or a Property Binding ([property] = "data")
    aditional: Two-Way-Binding ([ngModel] = "data") - combination of two above
    
    To output a data in the template
-->

<!-- 

    The String Interpolation Way: 
    
    <p>Server with ID {{_____}} is {{_____}}</p>
    The only condition for string interpolation syntax is  whatever you have between the curly braces
    in the end somehow will return a STRING
    The restriction is that you can't write a block expression like if's and for's 
-->
<p>{{'server'}} with ID {{ serverId }} is {{ serverStatus }}</p>    

